<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup
    </title>
    <script src="./index.js" defer></script>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <h1>Signup</h1>
    <form action="/v1/auth/signup" method="post">
        <label for="name">name</label>
        <input type="text" id="name" name="name"><br><br>
        <label for="">email</label>
        <input type="text" id="email" name="email"><br><br>
        <label for="password">password</label>
        <input type="text" id="password" name="password"><br><br>
        <input type="submit" value="submit">
    </form>
    <h1>Logins</h1>
    <form action="/v1/auth/login" method="post">
        <label for="">email</label>
        <input type="text" id="email" name="email"><br><br>
        <label for="password">password</label>
        <input type="text" id="password" name="password"><br><br>
        <input type="submit" value="submit">
    </form>
</body>
</html>